html {background-color: #242424;
color: white;
font-family: Montserrat, sans-serif;

}

body {
	padding-left: 70px;
padding-right: 70px;
box-sizing: border-box;
}

 header {
 	padding-left: 70px;
 	padding-right: 40px;
 	position: fixed;
 	top: 0;
 	left: 0;
 	width: 100%;
 	justify-content: space-between;
 	align-items: center;
 	background-color: #1C1C1C;
	display: flex;
	height: 70px;
	box-sizing: border-box;
	position: absolute;
}

/* site nav */

.sitenav a {
	text-decoration: none;
	color: white;
	padding: 25px 30px; 
	transition-duration: 0.4s;	
}

.sitenav a:hover {
	background-color: #602498;
}


.sitenav ul {
	font-size: 120%;
	font-weight: 850;

}

.sitenav li {
	margin-bottom: 25px;
	list-style: none;
	float: left;
}

.active {
	background-color: #410C73;

}

.text2  {
	position: absolute;
	font-size: 40px;
	font-weight: 900;
	top: 10px;
	text-align:  center;
	left: 20px;

}

.parent2  {
	position: relative ;
	left: 50%;
	margin-left: -120px;
	top: 150px;
	width: 600px;
	 }

.def {
	width: 1055px;
	text-align: center;
	margin: auto;
	font-size: 25px;
	line-height: 45px;
	font-weight: 300;
	margin-top: -50px;


}


.containers3 a{
color: white;
}


.containers3 {
	
	width: 1820px;
	height: 4850px;
	border: 1px;
	justify-content: center;
	margin: auto;
	margin-top: 250px;
	padding: 0px;

	


}


.col {

	padding: 0;
	width: 552px; height: 778px;
	opacity: 100%;
	margin-right: 26px;
	margin-bottom: 26px;
	margin-top: 10;
}




.col:hover {
	opacity: 
}














footer {
    background-color: #1C1C1C;
    display: flex;
    height: 380px;
    margin-top: 130px;
    bottom: 0;
    margin-left: -78px;
    margin-right: -78px;
    margin-bottom: -10px;
    justify-content: center;
   


}

.containersf {

    display: flex;

}


.foot {
    float: left;
        width: 285px; height: 285px;
    opacity: 100%;
    margin: 26px;
    margin-left: 40px;
    margin-right: 40px;
}



.foot P {
	margin-top: 60px;
    margin-left: 0%;    
    font-weight: 900;
    font-size: 21px;
    text-align: left;
    margin-bottom: 0px;


}

.contfoot {
	opacity: 80%;
    height: 30px;
    wifth : 30px;
    margin-bottom: 10px;
    line-height: 13px;
    transition-duration: 0.2s;


}

.contfoot:hover {
	opacity: 100%;
}

.contfoot img {
        vertical-align: middle;
        margin-right: 5px;

}

.contfoot a {
		text-decoration: none;
		color: white;
}

.contfoot span {
        vertical-align: middle;
}

.contact span {
    margin-bottom: 20px;
}

.copy {
position: absolute;
margin-top: -50px;
left: 50%;
margin-left: -45px; 
opacity: 40%;
 }
