footer {
    background-color: #1C1C1C;
    display: flex;
    height: 380px;
    margin-top: 250px;
    bottom: 0;
    margin-left: -78px;
    margin-right: -78px;
    margin-bottom: -10px;
    justify-content: center;

}

.containersf {
    background-color: white;
    display: flex;

}


.foot {
    float: left;
        width: 285px; height: 285px;
    opacity: 100%;
    margin: 26px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: grey;
}


.foot {
       

}

.foot P {
    margin-left: 0%;    
    font-weight: 900;
    font-size: 21px;
    text-align: left;
    margin-bottom: 0px;


}

.contfoot {
    height: 30px;
    background-color: blue;
    wifth : 30px;
    margin-bottom: 10px;
   

}

.contfoot img {
        vertical-align: middle;
        background-color: purple;

}

.contfoot span {
        vertical-align: middle;
        background-color: purple;
}
